body {
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.navbar {
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: space-between; /* Add space between the items */
    position: fixed;
    width: 100%;
    padding: 5px 5px; /* Add some padding (adjust as needed) */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    z-index: 3; /*place about all text */
}

.navbar img {
    margin: 0; /* Remove any default margin */
    padding: 0; /* Remove any default padding */
    max-height: 80px; /* Adjust size if needed */
}

.navbar a {
    text-decoration: none;
    color: white;
}

